**This notebook contains a script that sends out feedback and review documents to students after assessments.**

**Add Local Library to Path**

In [1]:
import os
import sys

module_path = os.path.abspath(os.path.join('..'))
if module_path not in sys.path:
    sys.path.append(module_path)
    sys.path.append(module_path + '/local_library')

**Import Libraries**

In [2]:
import pandas as pd
import re
from local_library import import_worksheet
from local_library import export_worksheet
from local_library import send_bulk_signrequest

Your browser has been opened to visit:

    https://accounts.google.com/o/oauth2/auth?client_id=1017190226189-f1d5s7cpjrj54u2rqk1ufh9pevguqoap.apps.googleusercontent.com&redirect_uri=http%3A%2F%2Flocalhost%3A8080%2F&scope=https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fdrive&access_type=offline&response_type=code

Authentication successful.

**Import Data**

In [3]:
#import 2021 data worksheet
cohort_df = import_worksheet("2021 SETA Submission Tracking Sheet", "UseForDataframe")

**Filter Students**

In [4]:
#select only students who are seta eligible
cohort_df = cohort_df[cohort_df['Active / Not Active '] == 'Active']
cohort_df = cohort_df[cohort_df['Eligible for qualification Y/N/P(pending)'] != 'N']
cohort_df = cohort_df[cohort_df['Final Assessment Outcome Competent (C/NYC)'] == 'C']
cohort_df = cohort_df[['Username','Campus', 'First Name', 'Middle Name', 'Surname']]
cohort_df.head()

      Username        Campus   First Name Middle Name      Surname
0  smogokon021  Johannesburg       Sharon   Basetsana  Mogokonyane
1    sqwabe021        Durban  Siphumelelo      Talent        Qwabe
2  shegoven021     Cape Town     Shenevra         NaN     Govender
3    nmnisi021  Johannesburg      Ntokozo         NaN        Mnisi
4  bmoalosi021  Johannesburg    Boitumelo         Don      Moalosi

In [5]:
cohort_df.describe().transpose()

            count unique           top freq
Username      331    331   smogokon021    1
Campus        331      3  Johannesburg  186
First Name    331    298          Mpho    4
Middle Name   218    204         Faith    3
Surname       331    301        Ndlovu    5

**Create Learner Fullname**

In [6]:
cohort_df['middle_name'] = cohort_df['Middle Name'].fillna("")
cohort_df['learner_name'] = cohort_df['First Name'].str.strip().str.lower() + " " + cohort_df['middle_name'].str.strip().str.lower()
cohort_df['learner_name'] = cohort_df['learner_name'].str.strip().str.title()
cohort_df['learner_fullname'] = cohort_df['learner_name'].str.strip().str.lower() + " " + cohort_df['Surname'].str.strip().str.lower()
cohort_df['learner_fullname'] = [re.sub(' +', ' ', fullname) for fullname in cohort_df['learner_fullname']]
cohort_df['learner_fullname'] = cohort_df['learner_fullname'].str.title()

**Create Learner Email**

In [7]:
cohort_df['learner_email'] = cohort_df['Username'] + '@student.wethinkcode.co.za'

**Subselect useful columns**

In [8]:
cohort_df = cohort_df[['learner_fullname','Campus', 'learner_email', 'Username']]

**Subselect Students**

In [9]:
cohort_df = cohort_df[cohort_df['learner_email'].isin(['tserapel021@student.wethinkcode.co.za'])]
len(cohort_df)
#cohort_df.to_csv('usernames.csv', columns = ['Username'])

1

**Create a test dummy**

In [56]:
#test_df = cohort_df.groupby(['Campus']).head(1).groupby('Campus').head(1).copy()
#test_df['learner_email'] = 'mufaro@thoughtquest.co.za'
#cohort_df = cohort_df[cohort_df['Campus'] == 'Johannesburg']
len(cohort_df)

175

**Send Brownfields Feedback**

In [201]:
#create target columns
target_columns = ['learner_fullname', 'learner_email']

#create template column
cohort_df.loc[cohort_df['Campus'] == 'Johannesburg', 'brownfields_feedback_template_column'] = '022420b6-711d-46c4-b28e-e2601491e560'
cohort_df.loc[cohort_df['Campus'] != 'Johannesburg', 'brownfields_feedback_template_column'] = '58743537-b3b1-4eda-beed-a32767db4832'

#send learner authenticity document through signrequests in bulk
send_bulk_signrequest(cohort_df, target_columns, 'brownfields_feedback_template_column')

Signer: nomsibi021@student.wethinkcode.co.za , Status: 201

**Send Demonstration Feedback**

In [9]:
#create target columns
target_columns = ['learner_fullname', 'learner_email']

#create template column
#cohort_df.loc[cohort_df['Campus'] == 'Johannesburg', 'demonstration_feedback_template_column'] = '64a6a1f8-54ff-43fd-a503-d875d6f1109f'
#cohort_df.loc[cohort_df['Campus'] != 'Johannesburg', 'demonstration_feedback_template_column'] = '6358d4f5-2674-4e36-987a-c89ca8f2fa34'

#send learner authenticity document through signrequests in bulk
send_bulk_signrequest(cohort_df, target_columns, 'demonstration_feedback_template_column')

Signer: nmeintje@student.wethinkcode.co.za , Status: 201

**Send Reports Feedback**

In [10]:
#create target columns
target_columns = ['learner_fullname', 'learner_email']

#create template column
#cohort_df.loc[cohort_df['Campus'] == 'Johannesburg', 'report_feedback_template_column'] = 'e462da3c-ea0d-4b09-b8d1-eb879e370b64'
#cohort_df.loc[cohort_df['Campus'] != 'Johannesburg', 'report_feedback_template_column'] = '433fff05-8235-4849-bf09-e62b73da43ca'

#send learner authenticity document through signrequests in bulk
send_bulk_signrequest(cohort_df, target_columns, 'report_feedback_template_column')

Signer: nmeintje@student.wethinkcode.co.za , Status: 201

**Send Exams Feedback**

In [13]:
#create target columns
#target_columns = ['learner_fullname', 'learner_email']

#create template column
#cohort_df.loc[cohort_df['Campus'] == 'Johannesburg', 'exam_feedback_template_column'] = 'bc01f59d-fb0c-454c-adec-c6f08976a3c7'
#cohort_df.loc[cohort_df['Campus'] != 'Johannesburg', 'exam_feedback_template_column'] = '9345b574-7b0c-42e6-b97e-378e00219071'

#send learner authenticity document through signrequests in bulk
#send_bulk_signrequest(cohort_df, target_columns, 'exam_feedback_template_column')

**Send Brownfields Review**

In [10]:
#create target columns
target_columns = ['learner_email']

#create template column
cohort_df.loc[cohort_df['Campus'] == 'Johannesburg', 'brownfields_review_template_column'] = '8efddb72-4e9e-4890-b1db-95602b0a8c46'
cohort_df.loc[cohort_df['Campus'] != 'Johannesburg', 'brownfields_review_template_column'] = 'd2b79089-98f9-42e6-869a-7ee057bef637'

#send learner authenticity document through signrequests in bulk
send_bulk_signrequest(cohort_df, target_columns, 'brownfields_review_template_column')

Signer: tserapel021@student.wethinkcode.co.za , Status: 201

**Send Demonstration Review**

In [13]:
#create target columns
target_columns = ['learner_email']

#create template column
#cohort_df.loc[cohort_df['Campus'] == 'Johannesburg', 'demonstration_review_template_column'] = '50640ab9-23e3-4f36-87a9-efd5332e21ec'
#cohort_df.loc[cohort_df['Campus'] != 'Johannesburg', 'demonstration_review_template_column'] = '138c2efc-f7e0-4e2a-86ce-41c19446f449'

#send learner authenticity document through signrequests in bulk
send_bulk_signrequest(cohort_df, target_columns, 'demonstration_review_template_column')

Signer: nmeintje@student.wethinkcode.co.za , Status: 201

**Send Report Review**

In [14]:
#create target columns
target_columns = ['learner_email']

#create template column
#cohort_df.loc[cohort_df['Campus'] == 'Johannesburg', 'report_review_template_column'] = '51d72a0b-6b73-4bf9-ad17-23bdc106540a'
#cohort_df.loc[cohort_df['Campus'] != 'Johannesburg', 'report_review_template_column'] = '60bf8f64-5fca-4725-8011-08297d05162c'

#send learner authenticity document through signrequests in bulk
send_bulk_signrequest(cohort_df, target_columns, 'report_review_template_column')

Signer: nmeintje@student.wethinkcode.co.za , Status: 201

**Send Exam Review**

In [14]:
#create target columns
#target_columns = ['learner_email']

#create template column
#cohort_df.loc[cohort_df['Campus'] == 'Johannesburg', 'exam_review_template_column'] = '2f8450ad-fee8-46c5-8544-1281715c1cd7'
#cohort_df.loc[cohort_df['Campus'] != 'Johannesburg', 'exam_review_template_column'] = 'b341743e-1f56-4d03-8448-e6d8eb443f6a'

#send learner authenticity document through signrequests in bulk
#send_bulk_signrequest(cohort_df, target_columns, 'exam_review_template_column')