**Import Libraries**

In [1]:
import pandas as pd

**Import Data into DataFrame**

In [2]:
cohort_df = pd.read_csv("cohort_2020.csv")

**Subset Data into Useful Columns**

In [3]:
cohort_df = cohort_df[["Username", "Firstname","Surname", "ID Number/ Passport Number", "Nationality", "Residential Status (Citizen / Permanent Resident/Asylum Seeker/Work Permit/Study Permit)", "Passed Grade 12 Y/N", "Name of Highest Qualification Achieved"]]

**Create New ID Columns**

In [4]:
##Create new IDNumber column
cohort_df["IDNumber"] = [f"{id_num}".split("\\")[0].strip() for id_num in cohort_df["ID Number/ Passport Number"]]

#Create new ID Type column
cohort_df["ID Type"] = ["National ID" if (len(f"{id_num}") == 13 or len(f"{id_num}") == 12) else "Passport Number" for id_num in cohort_df["IDNumber"]]

In [7]:
#Residential status includes:  (Citizen / Permanent Resident/Asylum Seeker/Work Permit/Study Permit)
cohort_df.columns = ['Username', 'Firstname', 'Surname', 'ID Number/ Passport Number',
       'Nationality',
       'Residential Status',
       'Passed Grade 12 Y/N', 'Name of Highest Qualification Achieved',
       'IDNumber', 'ID Type']
cohort_df.head()

,Username,Firstname,Surname,ID Number/ Passport Number,Nationality,Residential Status,Passed Grade 12 Y/N,Name of Highest Qualification Achieved,IDNumber,ID Type
0,adyoli,Athenkosi,Dyoli,9509215919086,South African,Citizen,Y,Grade 12,9509215919086,National ID
1,ahlalele,Abigail,Hlalele,0005020136080,South African,Citizen,Y,Grade 12,0005020136080,National ID
2,ajenkins,Arthur,Jenkins,0003255794087,South African,Citizen,N,Grade 9,0003255794087,National ID
3,amunyai,Amon,Munyai,0108255738081,South African,Citizen,NaN,NaN,0108255738081,National ID
4,althotse,Majane,Thotse,9704115450080,South African,Citizen,Y,N5 Mechanical Engineering,9704115450080,National ID